
:root {
  color-scheme: dark;
  background-color: #141212; /* tu color base */
  color: #e0e0e0; /* color de texto por defecto */
}


body {
    background-color: #1a1919;
}

.title-background {

    background: #0c0d0a;
}

img, video, canvas, svg {
  filter: none !important;
}






@keyframes mover {
    0%   { transform: translate(0,0);}
    100% { transform: translate(8px, -8px )}
  }

  .animate-alzar:hover {
    animation: mover 0.3s ease-in-out forwards; 
  }

@font-face {
  font-family: 'Coolvetica' ;
  src: url(./fonts/Coolvetica-Italic.woff), url(./fonts/Coolvetica-Italic.woff2);
}



.hueco {
  color: transparent; 
  -webkit-text-stroke: 1px #ffffff; 
  font-family: 'Coolvetica', sans-serif;
}




@keyframes skullScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position:  -60px -60px; /* diagonal hacia arriba a la derecha */
  }
}

@layer utilities {
  .animate-skullScroll {
    animation: skullScroll 10s linear infinite;
  }
}



@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 30s linear infinite;
}


.carousel {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /* Personalización solo visible cuando se necesita */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ffffff #1a1a1a; /* Firefox */
}

/* Webkit (Chrome, Safari) */
.carousel::-webkit-scrollbar {
  height: 6px;
}

.carousel::-webkit-scrollbar-track {
  background: #ffffff;
}

.carousel::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 100%;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}



