body {
    background-color: #1a1919;
}

.title-background {

    background: #0c0d0a;
}





@keyframes mover {
    0%   { transform: translate(0,0);}
    100% { transform: translate(8px, -8px )}
  }

  .animate-alzar:hover {
    animation: mover 0.3s ease-in-out forwards; 
  }

@font-face {
  font-family: 'Coolvetica' ;
  src: url(./fonts/Coolvetica-Italic.woff), url(./fonts/Coolvetica-Italic.woff2);
}

.hueco {
  font-size: 100px;
  color: transparent; 
  -webkit-text-stroke: 2px #ffffff; 
  font-family: 'Coolvetica', sans-serif;
}

@keyframes skullScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position:  -60px -60px; /* diagonal hacia arriba a la derecha */
  }
}

@layer utilities {
  .animate-skullScroll {
    animation: skullScroll 10s linear infinite;
  }
}



@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

